<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <form id="complain" action="/complain" method="post">
        Author: <br>
        <input type="text" name="author" required><br>
        User:<br>
        <input type="text" name="user" required><br>
        Grade: <br>
        <input type="text" name="grade" required><br>
        Contract: <br>
        <input type="number" name="contract" step="0.01" required><br>
        

        <input type="submit" value="Send">
    </form>
</body>

</html>
