<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Home</h1>
    <nav>
        <a href="login">Login</a> | 
        <a href="register">Registrati</a> | 
        <a href="logout">Logout</a> |
        <a href=" item"> Item</a> |
        <a href="profile">Profile</a> |
    </nav>
    <br>
    <form action="/search" method="get">
        <label for="name">Cerca un elemento per nome:</label>
        <input type="text" id="name" name="name">
        <button type="submit">Cerca</button>
    </form>

      
</body>
</html>
