<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli dell'Elemento</title>
</head>
<body>
    <h1>Dettagli dell'Elemento</h1>

    <!-- Mostra i dettagli dell'elemento se presente -->
    {% if item %}
        <p><strong>Nome:</strong> {{ item.name }}</p>
        <p><strong>Descrizione:</strong> {{ item.description }}</p>
        <p><strong>Proprietario:</strong> {{ item.owner }}</p>
        <p><strong>Prezzo per ora:</strong> ₴ {{ item.price_hour }}</p>
        <p><strong>Prezzo per giorno:</strong> ₴ {{ item.price_day }}</p>
        <p><strong>Prezzo per settimana:</strong> ₴ {{ item.price_week }}</p>
        <p><strong>Prezzo per mese:</strong> ₴ {{ item.price_month }}</p>
    {% else %}
        <p>Elemento non trovato.</p>
    {% endif %}

    {% if user_id == item.owner %}
    <form action="/item/{{ item.id }}/del" method="post">
        <input type="submit" value="DELETE">
    </form>
    {% endif %}
    <!-- Add Contract -->
    <a href="/contract?item_id={{ item.id }}" class="btn btn-primary mt-4">Crea Contratto</a>

    <a href="/" class="btn btn-secondary mt-4">Torna alla Home</a>


</body>
</html>
