<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <style>
        #itemForm, #historyTable {
            display: none; /* Nasconde il form e la tabella inizialmente */
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
    <script>
        function showForm() {
            document.getElementById('itemForm').style.display = 'block';
            document.getElementById('showButton').style.display = 'none';
        }

        function toggleTable() {
            const table = document.getElementById('historyTable');
            const toggleButton = document.getElementById('toggleButton');
            if (table.style.display === 'none' || table.style.display === '') {
                table.style.display = 'table';
                toggleButton.textContent = 'Hide Search History';
            } else {
                table.style.display = 'none';
                toggleButton.textContent = 'Show Search History';
            }
        }
    </script>
</head>
<body>

    <h1>Add Item</h1>
    <button id="showButton" onclick="showForm()">Add Item</button>

    <form id="itemForm" action="/item" method="post">
        Name: <br>
        <input type="text" name="name" required><br>
        Photo URL:<br>
        <input type="text" name="photo" required><br>
        Description: <br>
        <input type="text" name="description" required><br>
        Price per hour: <br>
        <input type="number" name="price_hour" step="0.01" required><br>
        Price per day:<br>
        <input type="number" name="price_day" step="0.01" required><br>
        Price per week: <br>
        <input type="number" name="price_week" step="0.01" required><br>
        Price per month: <br>
        <input type="number" name="price_month" step="0.01" required><br>

        <input type="submit" value="Send">
    </form>

<form id="history" action="/prof-hist" method="get">
    <p>Hisory: {{ history|length }}</p>
    {% for one_history in history %}
        <div>
            <ul>
                <li>User: {{ one_history.user }}</li>
                <li>Text: {{ one_history.serch_text}}</li>
                <li>Timestamp: {{ one_history.timestamp }}</li>
            </ul>
            <hr>
        </div>
    {% endfor %}
</form>

<form id="complain" action="/complain" method="post">
    Author: <br>
    <input type="text" name="author" required><br>
    User:<br>
    <input type="text" name="user" required><br>
    Grade: <br>
    <input type="text" name="grade" required><br>
    Contract: <br>
    <input type="number" name="contract" step="0.01" required><br>
    

    <input type="submit" value="Send">
</form>

</body>
</html>
