<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
</head>
<body>
    <h1>Registrazione</h1>
    <form action="/register" method="post">
        Login: <br>
        <input type="text" name="login"><br>
        Password:<br>
        <input type="password" name="password"><br>
        Ipn: <br>
        <input type="text" name="ipn"><br>
        Your full name: <br>
        <input type="text" name="full_name"><br>
        Contacts:<br>
        <input type="text" name="contacts"><br>
        Link for your photo: <br>
        <input type="text" name="photo"><br>
        Passport: <br>
        <input type="text" name="passport"><br>

        <input type="submit" value="send">
    </form>
    
</body>
</html>
